body {
font-family: 'Segoe UI', sans-serif;
background-color: #f8f9fa;
color: #000;
}

/* NAVBAR */
.navbar {
transition: all 0.3s ease;
}

/* HERO */
section h2 {
font-weight: 600;
}

/* CARDS */
.card {
border-radius: 10px;
border: none;
transition: all 0.3s ease;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* ICON SIZE (IMPORTANT FIX) */
.icon-big {
font-size: 18px;
margin-bottom: 8px;
}

/* TEXT */
.card h5 {
font-size: 16px;
margin-top: 5px;
}

.card p {
font-size: 14px;
color: #555;
}

/* BUTTONS */
.btn {
font-size: 13px;
border-radius: 6px;
}

/* SEARCH */
#searchInput {
border-radius: 25px;
padding: 10px;
}

/* FOOTER */
footer {
background-color: #212529;
color: white;
}

/* ---------------- DARK MODE ---------------- */

.dark-mode {
background-color: #121212;
color: #fff;
}

.dark-mode .card {
background-color: #1e1e1e;
color: #fff;
}

.dark-mode .card p {
color: #bbb;
}

.dark-mode .navbar {
background-color: #000 !important;
}

.dark-mode #searchInput {
background-color: #1e1e1e;
color: #fff;
border: 1px solid #333;
}

.dark-mode .btn-outline-primary {
color: #fff;
border-color: #fff;
}

.dark-mode footer {
background-color: #000;
}
